/* ipad and Tablets -portrait */
@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
    position: absolute;
    left: var(--size-150);
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
  }
}
